{% extends "blog/base.html" %}
{% block content %}
<!-- loading files from static directory all images, js, css -->
{% load static %}
<!--  load the embed_video_tags template tags  -->
{% load embed_video_tags %}
<!-- CSS Path -->
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">

    <title>About Us</title>

    <article class="about_us_info">
      <h2>Goals</h2>
      <section class="main_goals">
        <h3>Deliver the most relevant and reliable information available</h3>
        <div>To help you stay in touch with Python updates news anc jobs offered in Bulgaria.
           We are very passionate about Computer science and Python in particular. And think
           everyone should have the opportunity to learn programming if he or she chooses to.
           That's why we have created this website for people to post articles, guides and news
           about Python and related frameworks and library's.
        </div>
      </section>
      <footer>
        <p>
          Posted on
          <time datetime="2021-19-15 19:00">October 15</time>
          by Staff.
        </p>
      </footer>
          <!--EMBEDING VIDO -->
        <div>
        {% for i in obj %}
                {% video i.video 'small' %}
        {% endfor %}
        </div>
    </article>
{% endblock content %}

