<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load i18n %}

{% block content %}
    <center>
        {% if searched %}
            <h1>{% trans "You Searched For {{ searched }}" %}</h1><br/>

                <table class="content-table">
                    <thead>
                        <tr>
                            <th>{% trans "Job Link" %}</th>
                            <th>{% trans "Job Requirements" %}</th>
                        </tr>
                    </thead>
                    <tbody>

                     {% for job in jobs %}
                        <tr>
                            <td>{{job.link}}</td>
                            <td>{{job.requirements}}<td/>
                        </tr>
                     {% endfor %}

                     </tbody>
                </table>

        {% else %}
            <h1> {% trans "Hey! You forgot To Search For a Job..." %}</h1>

        {% endif %}


    </center>

{% endblock %}
{% load static %}