<!DOCTYPE html>
{% extends 'blog/base.html' %}


{% block content %}
    <center>
        {% if searched %}
            <h1>You Searched For {{ searched }}</h1><br/>

                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Job Link</th>
                            <th>Job Requirements</th>
                        </tr>
                    </thead>
                    <tbody>

                     {% for job in jobs %}
                        <tr>
                            <td>{{job.link}}</td>
                            <td>{{job.requirements}}<td/>
                        </tr>
                     {% endfor %}

                     </tbody>
                </table>

        {% else %}
            <h1> Hey! You forgot To Search For a Job...</h1>

        {% endif %}


    </center>

{% endblock %}
{% load static %}